p {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 5px;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

th, td {
    padding: 3px;
}

#cash2021 {
    text-align: center;
}